

.App {
  text-align: center;
  background-color: #479caa;
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .links {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}  */
