

.App {
  text-align: center;
  background-color: #479caa;
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.blog-preview{
  color: white;
}

.postsList{
  width: 80%;
}